<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="labforma1\style.css"> -->
    <title>Hotel Nadia</title>
</head>

<body style="background-image: url(img/eggrafh.jpg); background-size: cover;">
  <div class="sticky-top">
    <div class="header container-fluid "  >
      <div class="row"  >
          <div class="col-12 col-sm-4">
          
          <a href="/index"><img src="img/logo2.png" alt="" ></a>
          </div>
          <div class="col-12 col-sm-4">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     >
                      Ελληνικά
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="">Ελληνικά</a>
                      <a class="dropdown-item" href="">English</a>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col-12 col-sm-4" >
              <p class="phone-number" >
                ΤΗΛΕΦΩΝΟ: <span > 0983 584994 2299</span>
              </p>
              <div class="header-buttons">
                  <button  class="btn-default"  >
                     <a  style="color:inherit; text-decoration: none;" href="/krathsh"> ΚΡΑΤΗΣΗ ONLINE  </a>
                  </button>


              </div>

          </div>
      </div>
  </div>
  </div>
    <h2 class="text-light" style="padding-left: 15px; padding-right: 15px;">
      Κάνε Εγγραφή δωρεάν!
    </h2>
    <form class="container" action="/eggrafh_user" method="POST" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(209, 54, 54, 0.0));">
    <div class="container">
      <div class="row text-light">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label for="validationServer01">Όνομα</label>
            <input type="text" class="form-control is-valid" name="onoma" id="validationServer01" placeholder="First name" value="" required>
            {{!-- <div class="valid-feedback">
                Looks good!
            </div> --}}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <label for="validationServer02">Επίθετο</label>
            <input type="text" class="form-control is-valid" name="epwnymo" id="validationServer02" placeholder="Last name" value="" required>
            {{!-- <div class="valid-feedback">
                Looks good!
            </div> --}}
          </div>
      </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="validationServer03">E-mail Διεύθυνση</label>
                <input type="email" class="form-control  " name="email" id="inputEmail" placeholder="email address" required>
                <div class="container" id="uniqueemaildiv" style="border-radius:5px; background-color:rgba(64, 224, 208, 0.904)" hidden>
                  Αυτό το Email Χρησιμοποιείται ήδη! Δοκιμάστε άλλο !
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="validationServer03">Όνομα Χρήστη</label>
                <input type="text" class="form-control  " name="username" id="username" placeholder="Όνομα Χρήστη" required>
                <div class="container" id="uniqueusernamediv" style="border-radius:5px; background-color:rgba(64, 224, 208, 0.904)" hidden>
                  Αυτό το Username Χρησιμοποιείται ήδη! Δοκιμάστε άλλο !
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="validationServer04">Κωδικός</label>
                <input type="password" class="form-control  " name="password" id="validationServer04" placeholder="password" required>
                {{!-- <div class="invalid-feedback">
                    Please provide a valid password.
                </div> --}}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <label for="validationServer05">Επιβεβαίωση Κωδικού</label>
                <input type="password" class="form-control  " id="validationServer05" placeholder="password" required>
                {{!-- <div class="invalid-feedback">
                    Please provide a valid password.
                </div> --}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-8 col-md-8 col-sm-6">
              <label for="validationServer06">Χώρα</label>
                <div class="form-group">
                    <select class="custom-select" name="xwra" required>
                      <option value="">Επιλέξτε μια Χώρα</option>
                      <option value="Ελλάδα">Ελλάδα</option>
                      <option value="Κύπρος">Κύπρος</option>
                      <option value="Άλλο">κλπ</option>
                    </select>
                    {{!-- <div class="invalid-feedback">Example invalid custom select feedback</div> --}}
                  </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <label for="validationServer07">Διεύθυνση</label>
              <input type="text" class="form-control  " name="onoma_addr" id="validationServer07" placeholder="Address" required>
              {{!-- <div class="invalid-feedback">
                Please provide a valid Address.
              </div> --}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <label for="validationServer08">Αριθμός Διεύθυνσης</label>
              <input type="text" class="form-control  " name="arithmos_addr" id="validationServer08" placeholder="Number" required>
              {{!-- <div class="invalid-feedback">
                  Please provide a valid number.
              </div> --}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <label for="validationServer09">Πόλη</label>
              <input type="text" class="form-control  " name="polh" id="validationServer09" placeholder="City" value="" required>
              {{!-- <div class="invalid-feedback">
                  Please provide a valid City.
              </div> --}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <label for="validationServer10">T.K.</label>
              <input type="text" class="form-control  " name="tk" id="validationServer10" placeholder="T.K." required>
              {{!-- <div class="invalid-feedback">
                  Please provide a valid T.K.
              </div> --}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-8 col-md-8 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Αποδοχή Όρων Χρήσης!
                </label>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-light">
            <div class="col-lg-8 col-md-8 col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Αποδοχή Privacy Statement!
                </label>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row text-light">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <button type="submit" class="btn btn-primary" style="background-color: #939927;">Sign Up</button>
          </div>
      </div>
  </div>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="script/username.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>