<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>Hotel Nadia</title>
    </head>

    <body style="background-image: url(img/krathsh.jpg); background-size: cover;">
        <div class="sticky-top">
            <div class="header container-fluid "  >
              <div class="row"  >
                  <div class="col-12 col-sm-4">
                  <a href="?page=index"><img src="img/logo2.png" alt="" ></a>
                  </div>
                  <div class="col-12 col-sm-4">
                      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                          <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             >
                              Ελληνικά
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                              <a class="dropdown-item" href="">Ελληνικά</a>
                              <a class="dropdown-item" href="">English</a>
                            </div>
                          </div>
                        </div>
                  </div>
        
                  <div class="col-12 col-sm-4" >
                      <p class="phone-number" >
                        ΤΗΛΕΦΩΝΟ: <span > 0983 584994 2299</span>
                      </p>
                      <div class="header-buttons">
        
                          <br>
                          <button  class="btn-default"  >
                            <a style="color:inherit; text-decoration: none;" href="?page=eggrafh">SIGN IN  </a>                  </button>
        
                      </div>
        
                  </div>
              </div>
          </div>
          <hr style="margin: 0%; background-color: rgb(101, 150, 53);">
          </div>




        <h2 class="text-light" style="padding-left: 15px; padding-right: 15px;">
            Κάνε Κράτηση!
        </h2>






        <div id="perigrafh_krathshs" class="container-fluid" style=" margin: 5px auto; width: 98%; font-size:20px; color:white; background-color: #2e2726;" >
         
              <span>Start date</span> - <span>End date</span> |
              <span> Άτομα </span> |
              <span> Δωμάτια </span>                    
              <span style="white-space: pre;">                                                                                         </span>
              <span> Αλλαγή Αναζήτησης</span>
              
              <button type="button" class="btn arrow-b" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="demo">
                <i class="fa fa-chevron-circle-down" style=" font-size:30px; color:#c5cc3e;"></i>
            </button>



            
          <div id="demo" class="collapse ">
            <form  style=" background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(209, 54, 54, 0.0));">
                <div class="container">
                    <div class="row text-light">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                                Check In <input style="color: black;" type="date" id="start"name="trip-start" value="">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            Check Out <input type="date" id="start"name="trip-start" value="">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                <div class="row text-light">
                <div class="col-lg-3 col-md-3 col-sm-6">
                        Ενήλικες 
                          <br>
              <button id="minus" type="button" style="width: 50px;">-</button><input class="search" id="adults" type="text" value="0" style="width: 50px; text-align: center;" ><button id="plus" type="button" style="width: 50px;">+</button>
                </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                    Παιδιά
                      <br>
                  <button  id="minus" type="button" style="width: 50px;">-</button><input class="search" id="kids" type="text" value="0" style="width: 50px; text-align: center;" ><button id="plus" type="button" style="width: 50px;">+</button>

                </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                            Δωμάτια
                          <br>
                <button id="minus" type="button" style="width: 50px;">-</button><input class="search" id="rooms" type="text" value="0" min="0" style="width: 50px; text-align: center;" ><button id="plus" type="button" style="width: 50px;">+</button>

                </div>
    <div class="col-lg-3 col-md-3 col-sm-6"></div>
          </div>
      </div>
        <div class="container">
          <div class="row text-light">
          <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="form-group">
              <label for="exampleFormControlInput1">Κωδικός</label>
    <input class="form-control form-control-sm" type="text">
  </div>
      </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
  <button class="btn btn-sm" style="background-color: #939927;">Αναζήτηση</button>
          </div>
        </div>
        </div>
            </form>
            <br>
        </div>


                </div>



        <div class="container-fluid" style="width: 95%; margin:auto; background-color: rgb(241, 228, 204); border-radius: 5px; ">
          <div class="row" style="width: 100%;" >
            <div class="col-4" >
              <img src="img/pic1.jpg" alt="" style="width: 100%; height: auto; ">

            </div>
            <div class="col-5 border">
              <p>Όνομα Δωματιου</p>
              <hr>
              <p>Κειμενάκι με λεπτομέριες</p>

            </div >
            <div class="col-3"  >
              
              <p>Τιμή και τέτοια</p>

              <div style="margin:auto;">
                <button style="margin:auto;" >Επιλογή Δωματίου</button>
              </div>
          
            </div>

          </div>

        </div>

        
        <script src="script/krathsh1.js" defer></script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>




</html>