
    div.kalathi{
        position: sticky;
        z-index: 1 ;
        display: inline-block;
        top: 500px;
        left:1100px ;
    }
    div.kalathi button {
        background-color: #503f3d;
        color:#bfc72b;

    }
/* The Modal (background) */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0px;
    overflow: auto;/* Enable scroll if needed  */
    background-color: rgba(93, 97, 23, 0.5); /* Black w/ opacity */
  }

    
    /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #503f3d;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #503f3d;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #bfc72b;
    margin: auto;
    top:100px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 100; opacity: 1}
  }


  #epilogh_dwmatiou:hover{
    background-color: #e7f03b !important;
  }